	.contact-header{
	 	  background-image: url("../images/titlebar-bg.jpg");
	 }
	 .cabinet-content{
	 	background: #fbfbfb;
	 	padding: 50px 0px;
	 }
	 .outer-column{
	 	position: relative;
	 	background: #fff;
	 	box-shadow: 0px 0px 10px #ccc; 
	 }
	 .fixed-column{
	 	position: fixed;
	 	top: 8px;
	    width: 255px;
	 }
	 .cabinet-nav{
	 	margin:0;
	 	padding:0;
	 }

	 /*========= Cabinet Main =====*/
	 .category-column{
	 	background:#fff;
	 	box-shadow:0px 0px 10px #ccc;
	 	padding: 10px 20px;
	 	margin:20px 0px;
	 }

	 .cabinet-main>div{
	 	background: #fff;
	 	padding: 10px 15px;
	 	box-shadow: 0px 0px 8px #ccc;
	 }
	 .cabinet-main p{
	 	padding:2px 15px;
	 }
	.cabinet-main .choose-item{
		cursor: pointer;
	} 
	 .province-cabinet .cabinet-item{
	 	display: flex;
	    align-items: center;
	    background: #f8f8f8;
	    margin-top: 10px;
	    padding: 4px 10px;
	 }
	 .province-cabinet .cabinet-item a{
	 	color:#257c17;
	 	font-size: 15px;
	 	font-weight: 500;
	 }
	 .province-cabinet .cabinet-item:hover{
	 	border-left:3px solid #28aa19;
	 }
	 .province-cabinet .cabinet-item:hover a{
	 	color:#28aa19;
	 }
	 .province-cabinet .cabinet-item img{
	 	display: block;
	 	max-width:30%;
	 	width:60px;
	 	margin-right:10px;
	 }
	 .head-main >div{
	 	background: transparent;
	 	box-shadow: none;
	 }

	 .cabinet-toggle label,
	 .cabinet-toggle select,
	 .cabinet-toggle button{
	 	display: block;
	 	width:100%;
	 }

	 .cabinet-toggle button{
	 	background: #259c17;
	    color: #fff;
	    border: none;
	    outline: none;
	    box-shadow: 0px 0px 10px #ccc;
	    padding: 12px 20px;
	    margin-top: 20px;
	    cursor: pointer;
	    font-size: 14px;
	    font-weight: 500;
	    font-family: inherit;
	 }
	 .cabinet-toggle button.btn-search:hover{
	 	background: #242c17;
	 }
	 {
	 	display: none;
	 }
	 .district-cabinet{
	 	background: #f8f8f8;
	 	padding: 20px 15px;
	 	margin:0px;
	 }

	 h3.cab-top{
	 	padding: 10px 15px;
	 	background: #257c17;
	 	color:#fff;
	 	font-weight: 500;
	 	margin-bottom: 0px;
	 }
	 .cabinet-nav li{
	 	margin:5px 0px;
	 	background:#f8f8f8;
	 	padding: 10px 10px;
	 }
	 .cabinet-nav li a{
	 	color: #257c17;
	 	font-weight: 600;
	 	font-size:16px;
	 	cursor:pointer;
	 }
	 .cabinet-nav li a:hover{
	 	color:#4560a5;
	 }

  	blockquote.green-note{
	    display: block;
	    background: #f8f8f8;
	    padding: 25px 20px 15px 85px;
	    border-left:5px solid #257c17;
	    position: relative;
	    font-style: normal;
	    font-size: 17px;
	    min-height: 100px;
	    line-height: 28px;
	    color: #7c818e;
	    margin: 35px 0;
	    font-weight: 400;
	    font-style: italic;
	    box-shadow:0px 0px 10px #ccc;
	}
	blockquote.green-note:before{
	    position: absolute;
	    content: '\f10d';
	    font-family: "FontAwesome";
	    font-size: 37px;
	    line-height: 37px;
	    top: 28px;
	    left: 25px;
	    color: #257c17;
	}
	blockquote cite{
		text-align: right;
		display: block;
	}
	.bg-dark{
		background:#202839;
	}
	.colored-row>div{
		display: flex;
		flex-direction:column;
	}
	.intro-box{
		display: flex;
		flex:1;
		flex-direction: column;
		position: relative;
	    display: block;
	    padding:20px;
	    padding-bottom: 60px;
	    color:#fff;
	}
	.intro-box h3.title{
		position: relative;
	    display: block;
	    color:#fff;
	    font-size:27px;
	    line-height: 44px;
	    font-weight: 700;
	    text-transform: uppercase;
	    font-family: poppins,sans-serif;
	}
	.intro-box h3 span{
		font-weight: 500;
	}
	.pl-0{
		padding-left: 0
	}
	.pr-0{
		padding-right: 0;
	}
	.pr-15{
		padding-right: 15px;
	}
	.mr-0{
		margin-right:0px;
	}
	.box-1 ul{
		padding: 0;
		margin:5px 0px;
	}
	.box-1 ul li{
		line-height:34px;
	}
	.box-1 ul li i{
		color: #257c17;
		font-size: 20px;
		padding-right:5px;
	}

	.small-box{
		padding: 10px 20px;
	}
	.small-box:not(:last-child){
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
	.small-box .row{
		display: flex;
		align-items: center;
	}
	.small-box .icon i{
		width: 50px;
		height:50px;
		border-radius: 50%;
		background: rgba(0,0,0,0.3);
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ccc;
	}
	.small-box p,.small-box h4{
		color:#eff4fc;
	}
	.small-box h4{
		font-weight: 500;
    	font-size: 20px;
    	line-height: 16px;
	}
	.bottom-nav{
		padding: 0 10px;
		margin: 0;
	}
	.bottom-nav li{
		position: relative;
		padding-left:20px;
	}
	.bottom-nav li:before{
		content:"\f138";
		font-family: "FontAwesome";
		position:absolute;
		top:5px;
		left:0px;
		color: #257c17;
	}

	hr.hr-green{
		border:none;
		border-bottom: 2px solid #257c17;
	}

	.about-feature{
	    margin: 5px -15px;
	    align-items: center;
 	}
	.about-feature>div{
	    align-items: center;
	    padding:2px 15px;
	}
	 .about-feature h4{
	    font-size:18px;
	    font-weight: 600;
	 }
	 ul.feature-list{
	    padding:0px 5px;
	}
	 ul.feature-list li{
	    position: relative;
	    margin: 2px 0px;
	    padding: 2px 22px;
	    line-height: 1.6;
	    color:#888;
	}
	ul.feature-list li:before{
	    position: absolute;
	    content: '\f00c';
	    font-family: "FontAwesome";
	    font-size: 14px;
	    line-height: 14px;
	    top: 7px;
	    left:5px;
	    color: #257c17;
	}

	 /*====================
	 	History Design
	   ====================*/
	   .pink-box{
	   		background-image: url("../images/history-bg.jpg");
	   		background-repeat: cover;
	   		width: 100%;
	   		padding:30px 15px;
	   		margin:20px 0px;
	   }

	   .pink-box h3{
	   		position: relative;
		    text-align: center;
		    font-size: 22px;
		    font-weight: 700;
		    text-transform: uppercase;
		    padding: 0 0 29px;
	   }
	   .decor-line {
		    position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		    bottom: 0;
		    width: 160px;
		    height: 20px;
		    overflow: hidden;
		    padding: 5px 0 0;
		}

		.decor-line:after,.decor-line:before {
		    content: '';
		    position: absolute;
		    top: 10px;
		    bottom: 6px;
		    border-top: 1px solid;
		    border-bottom: 1px solid;
		    right: -8px;
		    height: auto;
		    width: 75px;
		    transform: skewX(-45deg);
		}
		.decor-line:before {
			position: absolute;
		    top: 10px;
		    left:-8px;
		}

	   .star{
	   		color: #257c17;
	   		position: absolute;
		    top:-5px;
		    left: 50%;
		    transform: translateX(-50%);
		    z-index: 999;
	   }
	   .highlight-row >div{
	   		margin-bottom: 20px;
	   }
	/*======================
		History Nav
	  ======================*/
	  ul.history-nav{
	  	padding: 0;
	  	margin:5px 0px;
	  	position: relative;
	  }
	  ul.history-nav:before{
	  	content: "";
	    position: absolute; 
	    top: 40px; 
	    bottom: 0; 
	    left:19px;
	    background-color: #06a763;
	    width: 2px;
	    height: calc(100% - 102px);
	  }
	  .history-nav li{
	  	position: relative;
	  	display: flex;
	  	align-items: flex-start;
	  }
	  .history-nav li span{
	  	display: block;
	  	position: absolute;
	  	content:"\f0e3";
	  	font-family: "FontAwesome";
	  	left:0;
	  	font-size: 20px;
	  	width:40px;
	  	height:40px;
	  	border:2px solid #257c17;
	  	color:#fff;
	  	background: #257c17;
	  	transform:rotate(45deg);
	  	padding:8px 15px;
	  }
	  .history-nav li span i{
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	transform:rotate(-45deg);
	  }
	  .history-nav li .h-column{
	  	margin-left:60px;
	  }
	  .history-nav li:hover span{
	  	background: #242c42;
	  	border:1px solid #242c42;
	  	color:#fff;
	  }
	  .history-nav li .h-column h4{
	  	margin-top:2px;
	  	margin-bottom: 4px;
	  	color: #257c17;
	  }
	  .history-nav li .h-column h3.title{
	  	margin-top:0px;
	  }

	  /*=========================
	  	Team Head Section
	  	=========================*/
	  	.head-column{
	  		background: #fff;
	  		padding: 5px 15px;
	  		border:1px solid #e6e6e6;
	  		border-radius: 10px;
	  		margin-bottom: 20px;
	  		box-shadow: 0px 0px 10px #e6e6e6;
	  	}
	  	.head-column h3{
	  		border-bottom: 1px solid #e6e6e6;
		    margin: 5px 0px;
		    padding: 10px 0px;
		    font-size: 22px;
		    font-weight: 500;
	  	}
	  	.head-column .text-col{
	  		padding-top:10px;
	  		text-align: left;
	  	}
	  	.head-column .text-col h4{
	  		color: #242c42;
	  		margin: 0;
	  		font-size: 24px;
	  		font-weight: 500;
	  		line-height: 20px;
	  	}
	  	.head-column .text-col p{
	  		margin: 0;
	  		line-height: 35px;
	  		font-weight: 500;
	  	}
	  	.head-column ul.head-nav{
	  		padding:0px;
	  	}
	  	.apjea-table ul.head-nav{
	  		padding:0px;
	  		margin:3px 0px;
	  	}
	  	ul.head-nav li{
	  		line-height: 35px;
	  		color:#7c818e;
	  	}
	  	ul.head-nav li i{
	  		padding-right:10px;
	  		color: #257c17;
	  		font-size: 18px;
	  	}
	  	ul.head-nav li span{
	  		font-weight: 500;
	  		color:#1d2435;
	  		padding-right:10px;
	  	}
	  	h5.social-head{
	  		color:#1d2435;
	  		margin: 0;
	  		line-height: 30px;
	  		font-size:16px;
	  		font-weight: 500;
	  	}
	  	ul.social-nav{
	  		padding: 0;
	  		margin:0;
	  	}

	  	.social-nav li{
	  		display: inline-block;
	  		width:40px;
	  		height:40px;
	  		text-align: center;
	  		background: #f8f8f8;
	  		margin: 5px 10px;
	  		padding: 10px 20px;
	  	}
	  	.social-nav li:nth-child(1){
	  		margin-left:0px;
	  	}
	  	.social-nav li a{
	  		font-size: 20px;
	  		display: flex;
	  		justify-content: center;
	  		align-items: center;
	  		color: #888;
	  	}
	  	.social-nav li a:hover{
	  		color: #257c17;
	  	}

	 	.bars-column .progress{
	 		margin-bottom:30px;
	 	}
	 	.progress-text{
	 		display: flex;
	 		justify-content: space-between;
	 		align-items: center;
	 	}
	 	span.fl-left{
	 		text-align: left;
	 	}
	 	span.fl-right{
	 		text-align: right;
	 	}
	 	.progress .line{
	 		width:100%;
	 		background: #ccc;
	 		height:12px;
	 		position: relative;
	 	}
	 	.progress .inner{
	 		position:relative;
	 		display: block;
	 		height: 100%;
	 		background: #257c17;
	 	}
	 	.progress .inner:before{
	 		position: absolute;
	 		top:-4px;
	 		right:-15px;
	 		content:"";
	 		width:20px;
	 		height:20px;
	 		border-radius: 50%;
	 		background: #257c17;
	 		box-shadow: inset 0 0 0 2px #fff;
	 	}

	/*===========================
      	Team Section
   	  ============================*/
   	/*=== APJEA Team ======*/
   	.bg-grdgreen{
         background: linear-gradient(to bottom,#259c17,#1e6716);
   		/*background: linear-gradient(60deg,#66bb6a,#43a047);*/
   	}
   	.bg-grdorange{
   		background: linear-gradient(60deg,#ffa726,#fb8c00);
   	}
   	.bg-grdred{
   		background: linear-gradient(60deg,#ef5350,#e53935);
   	}
   	.bg-grdpurple{
   		background: linear-gradient(60deg,#ab47bc,#8e24aa);
   	}
   	 .list-box{
   	 	background: #f6f6f6;
   	 	padding: 10px 20px;
   	 	margin-top:10px;
   	 	border-radius: 5px;
   	 	position: relative;
   	 	box-shadow: 0px 0px 10px #ccc;
   	 }
   	 .list-box .list-head{
	  	padding: 6px 10px;
      	border-radius: 5px;
      	position: absolute;
      	display: block;
      	top: -20px;
      	left: 20px;
      	right:20px;
   	 }
   	 .list-box .list-head h3{
   	 	margin: 5px;
   	 	font-size: 22px;
   	 	font-weight: 500;
   	 	text-align: left;
   	 	color: #fff;
   	 }
   	 .list-box .list-head p{
   	 	margin: 0px;
	      line-height: 11px;
	      color: #f4f4f4;
   	 }
   	 .list-box .list-detail{
   	 	margin-top:50px;
   	 }
   	 .list-box .list-detail table{
   	 	width: 100%;
   	 	text-align: left;
   	 }
   	 .list-box .bg-grdorange +.list-detail table th{
   	 	color:orange;
   	 }
   	 .list-box .bg-grdpurple +.list-detail table th{
   	 	color:purple;
   	 }
       .list-box .bg-grdgreen +.list-detail table th{
         color:#257c17;
       }
   	 .list-box .list-detail table th,
   	 .list-box .list-detail table td{
   	 	border-bottom: 1px solid #e6e6e6;
	    padding: 10px 10px;
   	}
   	/*.list-box .list-detail table tr:hover{
   		background:rgba(0,0,0,0.075);
   	}*/
   	.list-box .list-detail table tr:not(.profile-tr):nth-child(even){
   		background: #fff;
   	}
   	.list-box .list-detail table tr:not(.profile-tr){

   	}
   	.list-box .list-detail table tr>th:last-child{
   		text-align: center;
   	}
   	.list-box .list-detail table tr>td:last-child{
   		text-align: right;
   	}
   	.list-detail .form-group{
   		display: flex;
   		align-items: center;
   		justify-content: flex-end;
   	}
   	.list-detail .form-group label{
   		padding-right:5px;
   	}
   	.form-group .srch-toggle{
   		width:30%;
   		padding:6px 10px;
   		outline: none;
   		margin-bottom: 5px;
   	}
   	.apjea-table a{
   		display: inline-block;
   		margin:2px 1px;
   	}
   	.apjea-table td,
   	.apjea-table th{
   		font-size: 14px;
   		padding: 12px 10px;
   	}
   	.apjea-table tr:not(.profile-tr){
   		cursor: pointer;
   	}
   	.apjea-table .social-icons{
   		margin-left:22px;
   	}
   	.apjea-table a i{
   		width:30px;
   		height: 30px;
   		display: flex;
   		justify-content: center;
   		align-items: center;
   		background: #257c17;
   		border-radius: 5px;
   		color: #fff;
   	}
   	.apjea-table a:hover i{
   		background: #242c42;
   		color: #fff;
   	}
   	.apjea-team .title{
   		border-bottom: 1px solid #e6e6e6;
   		margin:0;
   		padding-top: 5px;
   		padding-bottom: 5px;
   		font-size: 24px;
   		color:green;
   	}
   	.apjea-row>div{
   		display: flex;
   		margin-bottom: 20px;
   	}
   	.apjea-team .team-column{
   		background: #F7F7F7;
    	margin-bottom:0.7em;
    	box-shadow: 0px 0px 10px #ccc;
    	display: flex;
    	flex-direction: column;
    	flex:1;
    	height: 100%;
   	}
   	.apjea-team .team-column .team-detail{
   		padding: 10px 15px;
   	}
   	.apjea-team .team-detail h5,
   	.apjea-team .team-detail h3{
   		margin:0;
   	}
   	.apjea-team .team-detail h3{
   		color: #004720;
	    font-size: 20px;
	    font-weight: 600;
	    line-height: 25px;
	    text-transform: uppercase;
	    text-align: center;
   	}
   	.apjea-team .team-detail h5{
   		color:#ffba00;
   		font-size: 16px;
   		font-weight: inherit;
   		text-align: center;
   		line-height: 20px;
   	}
   	.apjea-team .team-detail p{
   		margin-top: 5px;
   		line-height:24px;
   	}
   	/*=================
   	   Cabinet Member
   	  =================*/ 

   .team-section{
      margin:0px 0px;
    }
  
  	.team-section h3.main-head,.team-section h5.top-head{
      text-align: center;
  	}
  	.team-slider .team-column>div{
  		margin-bottom:80px;
  	}
	.team-section .team-image{
	    position: relative;
	}
	.team-section .team-image img{
		vertical-align: middle;
	}

	.team-section .team-overlay{
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    position: absolute;
	    z-index: 90;
	    right: 0;
	    height:100%;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    width:100%;
	    z-index:100;
	    background:#202839;
	     opacity: 0.6;
	    transition:0.3s ease;
	    transform: scale(0);
	}

	.team-section .team-bottom{
	    position: absolute;
	    bottom:-60px;
	    left:5px;
	    right:5px;
	    z-index:110;
	    background: #fff;
	    padding:10px 10px;
	    width: 80%;
	    margin:0 auto;
	    box-shadow: 0px 0px 8px #ccc;
	  }

	  .team-section .team-column:hover .team-overlay{
	    transform:scale(1);
	  }

	  .team-section .team-column:hover .team-bottom{
	    background-color: #259c17;
	    box-shadow: none;
	  }
	  .team-section .team-column:hover .team-bottom p,
	  .team-section .team-column:hover .team-bottom h4,
	  .team-section .team-column:hover .team-bottom a{
	    color: #fff;
	  }

	  .team-section .team-bottom p,
	  .team-section .team-bottom h4{
	    text-align: center;
	    margin:4px 0px;
	  }

	  .team-section .team-bottom h4{
	    text-transform: uppercase;
	  }

	 .team-column .team-nav{
   		padding: 0;
   		margin: 0;
   		position: absolute;
   		z-index: 100;
   		opacity: 1;
   		top:5px;
   		right:5px;
   		transition: 2s ease;
   		display: none;
   	}
   	 .team-column:hover .team-nav{
   		display: block;
   	}

   	.fade {
	  opacity:0;
	  animation:fade ease-in-out 2s;
	  animation-fill-mode: forwards;
	}

	@keyframes fade {
	   0% { opacity: 0;transform: scale(0); }
	  20% { opacity: 1;transform: scale(1);} /* 20% of 5 seconds = 1 second */
	}

   	 .team-column .team-nav li{
   		display: block;
   		margin:5px 5px;
   	}
   	 .team-column .team-nav li a{
   		color: #257c17;
   	}
   	 .team-column .team-nav li i{
   		width: 40px;
   		height:40px;
   		background: #fff;
   		display: flex;
   		justify-content: center;
   		align-items: center;
   	}
   	.team-nav li a:hover i{
   		background:#242c42;
   		color: #fff;
   	}




	  .team-section ul.team-social{
	    padding: 0;
	    margin: 0;
	    text-align: center;
	  }
	  .team-section .team-social li{
	    display: inline-block;
	    margin:2px 5px;
	  }
	  .team-section .team-social li a{
	    color:#202839;
	    font-size: 18px;
	   }

	   /*===============
	   	  Quick Links
	   	================*/
	   	.link-row{
	   		margin-bottom: 20px;
	   	}
	   	.quick-column{
	   		border:1px solid #257c17;
	   	}
	   	.quick-column h3{
	   		background: #257c17;
	   		border:1px solid #257c17;
	   		padding: 10px 15px;
	   		color: #fff;
	   		margin: 0;
	   		font-weight: 400;
	   	}
	   	.quick-column .link-nav li{
	   		margin:8px 0px;
	   	}
	   	.quick-column .link-nav li span{
	   		display: flex;
	   	}
	   	.quick-column a{
	   		color: #242c42;
	   		display: block;
	   		padding-left:5px;
	   	}
	   	.quick-column i{
	   		width: 25px;
	   		height: 25px;
	   		border-radius: 50%;
	   		background: #257c17;
	   		color: #fff;
	   		display: inline-flex;
	   		justify-content: center;
	   		align-items: center;
	   	}

	   	/*===================
	   		Welfare Benefits
	   	  ===================*/
	   	  .grant-column{
	   	  	position: relative;
	   	  }
	   	  .grant-column img{
	   	  	vertical-align: middle;
	   	  }
	   	  .grant-column .img-hvr{
	   	  	content:"";
	   	  	position: absolute;
	   	  	top:0;
	   	  	left:0;
	   	  	height: 100%;
	   	  	width: 100%;
	   	  	background:#43a047;
	   	  	opacity:0.8;
	   	  	display: none;
	   	  	font-weight: 400;
	   	  }
	   	  .grant-column:hover .img-hvr{
	   	  	 display: block;
	   	  }
	   	  .grant-column .img-hvr h3{
	   	  	position: absolute;
		    top: 40%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    color: #fff;
		    width: 100%;
		    text-align: center;
	   	  }


     




