 /*=================
	Header Section
 ==================*/
 .main-header{
 	background-image: url("../images/titlebar-bg.jpg");
 }


 /*===================
 	  Dashboard Main
   ===================*/
   .dashboard-section{
   		background: #eee;
   		padding-top:30px;
   		padding-bottom: 60px;
    }
    .dashtp-nav{
   		text-align: right;
	    border-radius: 5px;
	    padding: 5px 10px;
	    margin: 2px 0;
	    line-height: 28px;
   }
	.sidebar-nav{
		position: relative;
		z-index: 160;
		opacity: 1;
	}
   .dashtp-nav li{
   		display: inline-block;
	    margin: 10px 5px;
	    padding: 0px 6px;
	    color: #fff;
	    font-size: 14px;
	    position: relative;
   }
   .dashtp-nav li:first-child:before{
   	  content: "";
	    height: 20px;
	    width: 1px;
	    background-color: rgba(255,255,255,.08);
	    display: block;
	    position: absolute;
	    left: -10px;
	    top: 3px;
   }
   .dashtp-nav a{
   		color: #fff;
   }
   .dashtp-nav i{
		color: #ccc;
		padding: 5px 5px;
   }
   li.nt-dropdown{
   		position: relative;
   }
   li.nt-dropdown .nt-dropdown-content{
   		border-top: 3px solid #259c17;
	    position: absolute;
	    top: 45px;
	    right: 6px;
	    width: 350px;
	    padding: 10px 10px;
	    background: #fff;
	    z-index: 140;
	    text-align: left;
   }
   li.nt-dropdown span.toggle{
   	   cursor: pointer;
   }
   li.nt-dropdown span.no{
		position: absolute;
		top:-5px;
    	right:0px;
		width:18px;
		height:18px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		border-radius: 50%;
		background: #24ef0c;
		color: #fff;
   }
   li.nt-dropdown .nt-dropdown-content>li{
   		border-bottom: 1px solid #e6e6e6;
	    padding: 4px 2px;
	    display: block;
	    margin: 0px;
   }
   li.nt-dropdown .nt-dropdown-content>li a{
   		color: #259c17;
	    display: block;
	    font-weight: 500;
   }
   li.nt-dropdown .nt-dropdown-content>li a:hover{
		color: #242c17;
   }
   li.nt-dropdown .nt-dropdown-content>li span{
   		color:#7c818e;
   		font-size: 14px;
   }

   /*=====================
   		Main Sidebar
   	======================*/
   .dash-aside{
   	background-image: url("../images/sidebar-bg.jpg");
   	background-repeat: no-repeat;
   	background-size: cover;
   	position: relative;
    z-index: 90;
   }
   .dash-aside:before{
		position: absolute;
		content:"";
		left:0;top:0;
		width:100%;
		height:100%;
		background-color: rgba(255,255,255,1);
    	opacity: 0.9;
    	box-shadow: 0px 0px 20px #ccc;
   }
   .dash-aside ul.sidebar-nav{
   	 padding: 0;
   }
   .dash-aside .sidebar-nav li.active{
		background: #259c17;
    	border-radius: 5px;
   }
   .dash-aside .sidebar-nav li i{
		color: #259c17;
		padding-right:10px;
		padding-left:10px;
   }
   .dash-aside .sidebar-nav li.active a,.dash-aside .sidebar-nav li.active i{
   	color: #e6e6e6;
   }
   .sidebar-nav li{
		padding: 15px 10px;
		text-align: left;
		background:transparent;
		font-size: 18px;
		text-transform: capitalize;
		border-bottom: 1px solid #e6e6e6;
   }
   .sidebar-nav li:hover{
   	background-color: rgba(0,0,0,0.05);
   }
   .sidebar-nav li a{
   	color: #3c4858;
    	text-transform: capitalize;
   }
   .sidebar-nav li a:hover{
   	color: #1aaf2c;
   }

   /*====================
   		Dashboxes
    =======================*/
   	.dashboxes{
   		margin-top:50px;
   	}
   	.dash-box{
   		background: #fff;
   		border-radius: 5px;
   		padding:10px 20px;
   		box-shadow: 0px 0px 10px #ccc;
   		position: relative;
   	}
   	.bg-grdgreen{
         background: linear-gradient(to bottom,#259c17,#1e6716);
   		/*background: linear-gradient(60deg,#66bb6a,#43a047);*/
   	}
   	.bg-grdorange{
   		background: linear-gradient(60deg,#ffa726,#fb8c00);
   	}
   	.bg-grdred{
   		background: linear-gradient(60deg,#ef5350,#e53935);
   	}
   	.bg-grdpurple{
   		background: linear-gradient(60deg,#ab47bc,#8e24aa);
   	}
   	.dash-box .dash-flex{
   		display: flex;
   		align-items:flex-start;
   	}
   	.dash-box .dash-icon{
   		position: absolute;
	    left: 15px;
	    top: -30px;
	    width:32%;
	    padding: 30px 40px;
	    color: #fff;
	    font-size: 35px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    margin-right: 10px;
	    border-radius: 5px;
   	}
   	.dash-box .dash-detail{
   		text-align: right;
   		width: 100%;
   	}
   	.dash-box .dash-detail h3{
   		text-transform: capitalize;
   		font-weight: 400;
   		font-size: 18px;
   		text-align: right;
   		margin: 5px 0px;
   	}
   	.dash-box .dash-detail p{
		margin-top: 0px;
	    color: #7f8b9c;
	    font-size: 25px;
	    font-weight: 400;
	    line-height: 20px;
   	}
   	.dash-box .dash-bottom{
   		margin-top:10px;
   		border-top: 1px solid #e6e6e6;
   	}.dash-box .dash-bottom p{
   		margin:5px 0px;
   		text-align: center;
   	}

   	/*====================
   		Listboxes
   	 =====================*/
   	 .list-box{
   	 	background: #fff;
   	 	padding: 10px 20px;
   	 	margin-top:100px;
   	 	border-radius: 5px;
   	 	position: relative;
   	 }
   	 .list-box .list-head{
		   padding: 12px 10px;
	      border-radius: 5px;
	      position: absolute;
	      display: block;
	      top: -20px;
	      left: 20px;
	      right:20px;
   	 }
   	 .list-box .list-head h3{
   	 	margin: 5px;
   	 	font-size: 22px;
   	 	font-weight: 500;
   	 	text-align: left;
   	 	color: #fff;
   	 }
   	 .list-box .list-head p{
   	 	margin: 0px;
	      line-height: 11px;
	      color: #f4f4f4;
   	 }
   	 .list-box .list-detail{
   	 	margin-top:50px;
   	 }
   	 .list-box .list-detail table{
   	 	width: 100%;
   	 	text-align: left;
   	 }
   	 .list-box .bg-grdorange +.list-detail table th{
   	 	color:orange;
   	 }
   	 .list-box .bg-grdpurple +.list-detail table th{
   	 	color:purple;
   	 }
       .list-box .bg-grdgreen +.list-detail table th{
         color:#257c17;
       }
   	 .list-box .list-detail table th,
   	 .list-box .list-detail table td{
   	 	border-bottom: 1px solid #e6e6e6;
	      padding: 18px 10px;
   	}


      .dashboard-section .main-column{
         background: #fff;
         margin:18px 0px;
         padding:5px 20px;
      }
      .main-column h5{
         font-size: 18px;
         padding:12px 0px;
         margin: 0px;
         color: #333333;
         letter-spacing: 1px;
         border-bottom: 1px solid #e6e6e6;
      }
      .main-column form{
         margin-top:20px;
         margin-bottom:5px;
      }
      .main-column .form-group{
         margin:5px 0px;
      }
      .main-column .form-group label{
         display: block;
         padding-bottom: 10px;
         font-weight: 500;
         width:100%;
      }
      .main-column .form-group input,
      .main-column .form-group select{
         font-size: 14px;
         background: #f6f6f6;
         width:100%;
         height: 40px;
         padding: 5px 10px;
         border: 1px solid rgba(0,0,0,0.1);
         border-radius: 0px;
         box-shadow: none;
         outline: none;
      }
      .main-column .form-group textarea{
         font-size: 14px;
         background: #f6f6f6;
         width:100%;
         height: 100px;
         padding: 5px 10px;
         border: 1px solid rgba(0,0,0,0.1);
         border-radius: 0px;
         box-shadow: none;
         outline: none;
      }
      .main-column .form-group{
         position: relative;
      }
      .main-column .message{
         margin:12px 0px;
         padding: 12px 10px;
         color: #fff;
      }
      .main-column .message-success{
         background:#20a80ac7;
      }
      .main-column .message-error{
         background:#ef5350;
      }
      .message .close{
         float: right;
         font-size: 18px;
         font-style:initial;
         cursor:pointer;
      }
      .main-column .form-group .icon{
         position: absolute;
         right:10px;
         top:44px;
      }
      .main-column .form-group .icon-success i{
         color: green;
         font-size: 20px;
      }
      .main-column .form-group .icon-error i{
         color:red;
         font-size: 20px;
      }
      .main-column .input-group-error input{
         border:1px solid red;
      }
      .main-column .form-group input:focus,
      .main-column .input-group-success input{
         border:1px solid #257c17;
      }
      .main-column .image-box{
         text-align: center;
         position: relative;
         overflow: hidden;
         width: 100%;
         height: 200px;
         color: #fff;
         text-align: center;
         background: #d4d4d4;
         border-radius: 0px;
         padding-top: 70px;
         font-weight: bold;
         margin-top: 40px;
      }
      .main-column .image-box:hover{
         background: #257c17;
      }
      .main-column .fileUpload input[type="file"]{
         display: none;
      }
      .main-column .fileUpload i{
         width: 100%;
         font-size: 40px;
         display: inline-block;
         text-align: center;
         cursor: pointer;
      }

      .main-column .form-group button{
         float: right;
         margin: 34px 0px;
         height: 40px;
         font-size:16px;
         font-weight: 500;
         padding: 5px 20px;
         color: #fff;
         background: linear-gradient(10deg,#43a047,green);
         box-shadow: 0px 0px 10px #6b6161;
         outline: none;
         border: none;
         cursor: pointer;
      }  
      .main-column .form-group button:hover{
         background: #202839;
      }
      .text-right{
         text-align: right;
      }


      input[type='date'] {
          position: relative;
      }

      input[type='date']:before {
          position: absolute;
          top: 10px; 
          left: 5px;
          content: attr(data-date);
          display: inline-block;
          color: black;
      }

      input[type='date']::-webkit-datetime-edit, 
      input[type='date']::-webkit-inner-spin-button, 
      input[type='date']::-webkit-clear-button {
          display: none;
      }

      input[type='date']::-webkit-calendar-picker-indicator {
          position: absolute;
          top: 6px;
          right:5px;
          color: black;
          opacity: 1;
      }

      /*========================
         Family Info
       =========================*/
       .custom-row{
         display: flex;
         align-items: center;
       }
       .custom-row i{
         font-size: 24px;
         cursor:pointer;
         margin-right:5px;
       }
       .custom-row .icon-plus i{
            color: green;
       }
       .custom-row .icon-delete i{
            color:darkred;
       }
       .family-form button{
         float: left !important;
       }


      /*======================
         Amount History
       =======================*/
       .amt-dash-history .list-box{
         margin-top:40px !important;
       } 

      /*======================
         Claim Form
       =======================*/ 
       .item-col{
         background: #fff;
         padding: 10px 10px;
         border-radius: 5px;
         margin-bottom:15px;
         box-shadow: 0px 0px 10px #ccc;
         cursor: pointer;
       }
       .item-text h3{
         text-align: center;
         text-transform: uppercase;
         margin:5px 0px;
       }

       .item-col.active{
         border: 3px solid #4d8948;
         position: relative;
         overflow: hidden;
       }
       .item-col.active:before{
         content: '\2713';
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 20px;
         color: #fff;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background-color: #4d8948;
         border: 3px solid #4d8948;
         position: absolute;
         right: -10px;
         top: -10px;
       }

       /*==================
            Claim Forms
         ==================*/
         .main-column .claim-row{
            margin-top:40px;
            border-top:1px solid #e6e6e6;
            padding:30px 0px;
            display: flex;
            align-items: center;
         }

         .input-group {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 100%;
         }
         .custom-file{
            position: relative;
            z-index:1;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            margin: 0;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            min-width: 0;
            margin-bottom: 0;
         }

         .custom-file-label{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;
            font-size: 14px;
            background: #f6f6f6;
            width: 100%;
            height: 40px;
            line-height: 1.6;
            padding: 5px 10px;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 0px;
            box-shadow: none;
            outline: none;
         }

         .custom-file-input:lang(en)~.custom-file-label::after {
            content: "Browse";
         }
         .custom-file-label::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            display: block;
            height:100%;
            padding: .375rem .75rem;
            line-height: 1.6;
            color: #495057;
            content: "Browse";
            background-color: #e9ecef;
            border-left: inherit;
            border-radius: 0 .25rem .25rem 0;
         }

         /*=======================
            Account Setting Form
           =======================*/
           .password-row{
               display: flex;
               align-items:flex-start;
           }
           .password-row img{
               max-width: 200px;
               padding-top: 100px;
               display: block;
               margin:0 auto;
           }
           .icon-group>label{
               display: block;
               padding-bottom: 10px;
               font-weight: 500;
               width: 100%;
           }
           .icon-list{
               display: flex;
               align-items: center;
               flex-wrap: wrap;
           }
           .icon-list label{
               display: block;
               border:2px solid #8d8080;
               padding:7px 5px;
               width:40px;
               height: 40px;
               margin:12px 10px;
               border-radius: 5px;
               text-align: center;
               cursor: pointer;
           }
           .icon-list label i{
               font-size: 22px;
               color:#8d8080;
           }
           .icon-list label.active{
               border:2px solid #257c17;
               background: #257c17;
           }
           .icon-list label.active i{
               color:#fff;
           }
           .icon-list label input{
               opacity: 0;
           }

       /*=================
         Funds History
         =================*/
         .funds-row{
            display: flex;
            align-items:center;
         }
         .funds-box i{
            font-size:20px;
            cursor: pointer;
         }
         .funds-row .image-col{
            margin-top: 18px;
         }
         /*=================
            Pagination
          =================*/
          .page-column{
            margin:20px 0px;
          }
         .pagination{
             margin:0 auto;
             padding: 0;
             display: flex;
             justify-content: center;
         }
         .pagination li{
               margin: 5px 10px;
         }
         .pagination li a{
           padding: 10px 10px;
           background: #fff;
           display: flex;
           justify-content: center;
           align-items: center;
           width: 42px;
           height: 42px;
           color:#fb8c00;
         }
         .pagination li a:hover,.pagination li a.active{
            background:linear-gradient(60deg,#ffa726,#fb8c00);
            color: #fff; 
         }

         .bg-info{
          background: #34A1C0;
         }


